@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");
html {
  background: white;
}

body {
  margin: 0;
  background: #044972;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.1em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-wrapper {
  background: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-weight: bold;
}

header a {
  color: #022133;
  text-decoration: none;
  font-size: 1.1em;
}

header a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: dodgerblue;
          text-decoration-color: dodgerblue;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  padding: 0 .6em;
}

.hero-bg {
  background: white;
  height: 240px;
  padding: 1em 2em;
  position: relative;
}

.hero-bg img {
  right: 0;
  bottom: 0;
  position: absolute;
}

.hero-bg h1, .hero-bg p {
  color: #022133;
}

.hero-bg h1 {
  font-size: 2.8em;
  margin-top: 2em;
}

.hero-bg p {
  font-size: 1.2em;
  margin-top: -1.5em;
}

main {
  margin: 3.5em 2em;
}

main p {
  margin-bottom: 2em;
}

.button {
  display: block;
  color: #022133;
  background: #ddd;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.call-to-action {
  padding: 8px 50px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0;
}

.img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-wrapper img {
  width: 95%;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  main {
    min-height: 400px;
  }
  a.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  a.button span {
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
  }
  a.call-to-action {
    font-size: 1.2em;
    padding: .8em 3em;
  }
  a.button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
    -webkit-transition: -webkit-clip-path .6s ease-in-out;
    transition: -webkit-clip-path .6s ease-in-out;
    transition: clip-path .6s ease-in-out;
    transition: clip-path .6s ease-in-out, -webkit-clip-path .6s ease-in-out;
  }
  a.button:hover:before {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
}

.footer-wrapper {
  background: #022133;
  height: 300px;
}

.footer-wrapper footer {
  margin: 0 auto;
  margin-top: 3.5em;
  padding: 4em;
  text-align: center;
  font-size: .8em;
}

.footer-wrapper img {
  margin-top: 1em;
  width: 100px;
}

@media only screen and (max-width: 800px) {
  .hero-bg {
    min-height: 190px;
    height: auto;
  }
  .hero-bg h1 {
    font-size: 2.4em;
    margin-top: 1.4em;
  }
  .hero-bg p {
    font-size: 1.2em;
    margin-top: -1.5em;
  }
}

@media only screen and (max-width: 900px) {
  .hero-bg img {
    display: none;
  }
  /* fix navigation */
}
/*# sourceMappingURL=main.css.map */