@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

$dark-blue: rgb(2, 33, 51);
$side-margin: 2em;

body {
    margin: 0;
    background: rgb(4, 73, 114);
    color: white;
    font-family: 'Montserrat';
    font-size: 1.1em;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.hero-wrapper {
    background: white;
}

header {
    display: flex;
    justify-content: space-between;

    .logo {
        font-weight: bold;
    }

    a {
        color: $dark-blue;
        text-decoration: none;
        font-size: 1.1em;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: dodgerblue;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        
        li {
            padding: 0 .6em;
        }
    }
}

.hero-bg {
    background: white;
    height: 240px;
    padding: 1em $side-margin;

    img {
        float: right;
        margin-top: -173px; /* fix issue cause by float */
        position: relative;
    }

    h1, p {
        color: $dark-blue;
    }

    h1 {
        font-size: 2.8em;
        margin-top: 2em;
    }

    p {
        font-size: 1.2em;
        margin-top: -1.5em;
    }
}

main {
    margin: 3.5em $side-margin;

    p {
        margin-bottom: 2em;
    }
}

.footer-wrapper {
    background: $dark-blue;
    height: 300px;

    footer {
        margin: 0 auto;
        margin-top: 3.5em;
        padding: 4em;
        text-align: center;
        font-size: .8em;
    }

    img {
        margin-top: 1em;
        width: 100px;
    }
}

@media only screen and (max-width: 700px) {

    .hero-bg {
    
        img {
            display: none;
        }
    }
}

@media only screen and (max-width: 900px) {

    /* fix navigation */
    
}